@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --accent-color: #FFAB73; /* Lighter orange, softer but vibrant */
    --secondary-color: #FFD3B6; /* Original pastel peach */
    --background-color: #FFFFFF; /* Pure white for a clean background */
    --surface-color: #F8F8F8; /* Neutral light surface color */
    --text-color: #333333; /* Dark gray for strong readability */
    --muted-text-color: #777777; /* Softer muted gray */
    --border-color: #E0E0E0; /* Neutral border color */
    --success-color: #27AE60; /* Original green */
    --warning-color: #F1C40F; /* Original yellow */
    --error-color: #E74C3C; /* Original red */
    --secondary-light: #e6e3e384; /* Light Gray*/
}ß

input {
    all: unset;
}

.main-layout {
    display: flex;
    flex-direction: row;
    background-color: var(--surface-color);
}
.nav-container {
    width: 20%;
}
.main-layout-container {
    width: 80%;
    min-height: 100vh;

}

.form-header {
    font-size: 2.3rem;
    font-weight: 600;
}

.form-group {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding-inline: 16px;
    padding-block: 12px;
}

.input-wrapper .icon {
    position: absolute;
    left: 12px;
    font-size: 1.2rem;
    color: #888;
}

.form-group .input-label {
    font-size: 0.9rem;
    font-weight: 300;
}

.input-wrapper .input-field {
    all: unset;
    outline: none;
    flex: 1;
    border: none;
    outline: none;
    padding-left: 36px;
    font-size: 1rem;
    background: transparent;
    color: var(--text-color);
}

.input-wrapper .input-field:focus {
    border: none;
    box-shadow: none;
}
