.content {
    display: flex;
    padding-block: 96px;
    padding-inline: 96px;
    gap: 42px;
    box-sizing: border-box;
    height: 100vh;
}


.promotion-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(55% - 21px);
    background-color: var(--accent-color);
    border-radius: 16px;
    padding: 24px;
    position: relative;
    flex: 1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1),
                0 4px 6px rgba(0, 0, 0, 0.05);
}
