

.right-container {
    width: 30%;
    position: relative;
}

.left-container {
    width: 70%;
}
.search-pp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}

.search-container {
    background-color: var(--background-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1),
    0 4px 6px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: fit-content;
    padding-inline: 28px;
    padding-block: 20px;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
    align-items: center;
    display: flex;
    gap: 12px;
}

.form-inline {
    width: calc(70% - 6px);
}

.project-list-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    border: none !important;
    background-color: var(--secondary-light);
    padding-inline: 16px;
    padding-block: 12px;
}

.input-wrapper .icon {
    position: absolute;
    left: 12px;
    font-size: 1.2rem;
    color: #888;
}


.input-wrapper .input-field {
    all: unset;
    outline: none;
    flex: 1;
    border: none;
    outline: none;
    padding-left: 24px;
    font-size: 15px;
    background: transparent;
    color: var(--text-color);
}

.input-wrapper .input-field:focus {
    border: none;
    box-shadow: none;
}

.create-post-btn {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    width: calc(20% - 6px);
}

.create-post-btn:hover {
    background: #beafa5;
    border-color: #f7914d;
}

.filter-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 30%;
    position: sticky;
    top: 2vw;
    align-self: flex-start;
}

.filter-section {
    background-color: var(--background-color);
    border-radius: 16px;
    padding:1.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1),
    0 4px 6px rgba(0, 0, 0, 0.05);
}

.filter-header-section {
    display: flex;
    align-items: center;
    gap: 16px;
}

.filter-section .filter-header {
    font-weight: 700;
    font-size: 1.2rem;
}

.filter-section .filter-wrapper {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.filter-wrapper .filter-title {
    font-weight: 600;
}

.categories-container {
    display: flex;
    gap: 8px;
}

.filter {
    display: inline-block;
    padding: 8px 15px;
    background-color: var(--surface-color);
    color: var(--text-color);
    border-radius: 12px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background-color 0.3s;
}

.filter.selected {
    background-color: var(--accent-color);
    color: white;
}

.sort-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 12px;
}

.sort-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.sort-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
}

.sort-option input[type="radio"] {
    accent-color: var(--accent-color);
    cursor: pointer;
    margin-left: 10px;
}
