.reset-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
    padding: 16px;
}

.top-section {
    display: flex;
    width: 100%;
    align-items: center;
    height: 20%;
}

.top-section .profile-image-container {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-right: 24px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.top-section .profile-image-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.top-section .profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}

.profile-info .header-name {
    font-size: 24px;
    font-weight: 700;
    color: var(--text-color);
}

.profile-info .header-role {
    font-size: 16px;
    font-weight: 500;
    color: var(--muted-text-color);
}

.profile-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 16px;
}

.profile-section .header-profile {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.profile-section .header-profile .profile-header {
    font-size: 20px;
    font-weight: 700;
    color: var(--text-color);
}

.profile-section .header-profile .profile-subheader {
    font-size: 16px;
    font-weight: 500;
    color: var(--muted-text-color);
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    margin-top: 42px;
}

.profile-section .form-container .profile-form-group {
    display: flex;
    width: 80%;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.profile-form-group .group-header-section {
    flex-basis: 20%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.profile-form-group .group-header-section .group-header {
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color);
}

.profile-form-group .group-header-section .group-subheader {
    font-size: 14px;
    font-weight: 500;
    color: var(--muted-text-color);
}

.divider {
    height: 1px;
    background-color: var(--border-color);
    margin: 16px 0;
}

.profile-form-group .group-form-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-basis: 50%;
}

.profile-input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 16px;
    padding: 4px 12px;
    background-color: var(--background-color);
    gap: 8px;
}

.profile-input-wrapper input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    color: var(--text-color);
    background: none;
}

.input-label {
    font-size: 14px;
    font-weight: 500;
    color: var(--muted-text-color);
    display: block;
}

.profile-input-wrapper input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.upload-field {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.upload-label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 16px;
    padding: 8px 12px;
}

.upload-label:hover {
    background-color: var(--hover-background-color);
}

input[type="file"] {
    display: none;
}

.preview-container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    padding: 4px;
}

.preview-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.biography-input-wrapper {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 16px;
    padding: 12px;
    background-color: var(--background-color);
}


.biography-field {
    width: 100%;
    height: auto;
    resize: none;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 1.5;
    color: var(--text-color);
    background: none;
    font-family: inherit;
}


.biography-field:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.biography-field::placeholder {
    color: var(--muted-text-color);
    font-style: italic;
}

.submit-button {
    margin-top: 24px;
    padding-inline: 16px;
    padding-block: 10px;
    border-radius: 12px;
    background-color: var(--accent-color);
    color: #fff;
    font-size: 1.1rem;
    border-width: 0px;
    font-weight: 500;
    cursor: pointer;
    width: 15%;
}
