
.project-detail-wrapper {
    display: flex;
    margin: 2vw;
    gap: 2vw;
}
.detail-container{
    height: fit-content;
    background-color: white !important;
    padding: 2vw;
    border-radius: 1.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1),
    0 4px 6px rgba(0, 0, 0, 0.05);
    width: 70%;
}

.owner-container{
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
}
.owner-name {
    font-weight: 600;
}
.owner-role {
    font-weight: 400;
    color: var(--muted-text-color);
}
.owner-picture {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.project-picture {
    height: 600px;
    object-fit: cover;
    width: 100%;
}

#imageCarousel{
    border-radius: 1.5rem;
    overflow: hidden !important;
    margin-block: 2vh;
    position: relative;
}

.like-btn-container {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 8px;
    border-radius: 50%;
    background-color: whitesmoke;
    z-index: 10000;
    cursor: pointer;
}


.project-title {
    font-size: 20px;
    font-weight: 600;
}

.project-stats-container {
    display: flex;
    gap: 20px;
    align-items: center;
}


.project-stats-container p {
    color: var(--muted-text-color);
    font-weight: 500;
    font-size: 14px;

}

.project-description{
    color: var(--muted-text-color);
    font-size: 16px;
}

svg{
    color: black !important;
    width: 14px;
    height: 14px;
}
.vote-container {
    display: flex;
    flex-direction: row;
    align-items: center;

}


.divider {
    height: 20px;
    width: 0.5px;
    padding-block: 2px;
    background-color: black;
}

.vote-type-container {
    padding-block: 6px;
    transition: all 0.5s;
    padding-inline: 12px;
    background-color: var(--secondary-light);
}

.vote-type-container:hover{
    background-color: #d3d3d3;
}

.positive-container {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.negative-container {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.right-container {
     width: 30%;
}

.comment-container {
    background-color: white !important;
    border-radius: 1.5rem;
    padding: 2vw;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1),
    0 4px 6px rgba(0, 0, 0, 0.05);
}
.comment-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.comment-container h5{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
}

.comment-wrapper {
    display: flex;
    flex-direction: column;
}

.sender-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sender-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;

}
.sender-name {
    font-weight: 500;
    font-size: 15px;
}
.sender-picture {
    width: 35px;
    height: 35px;
    border-radius: 50%;

}

.comment-description {
    font-size: 15px;
    margin-top: 8px;
    color: var(--muted-text-color);
}
.add-comment-container {
    margin-top: 20px;
    width: 100%;
}

.input-wrapper {
    padding-block: 8px;
}
.input-wrapper .icon {
    font-size: 15px;
}
.form-group {
    margin: 0 !important;
    width: 90%;
}
.form-group .input-label {
    font-size: 15px;
}

.input-wrapper .input-field {
   font-size: 15px;
}

.comment-input-container {
    display: flex;
    width: 100%;
    gap: 10px;
}
.add-comment-btn {
    background-color: var(--accent-color);
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.negative-project-confirmation-container {
    margin-bottom: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.negative-project-confirmation-container p, .warning-icon {
    color: var(--error-color) !important;
    font-weight: 600;
    font-size: 14px;
}

.esclamation-text-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.vote-container span {
    font-size: 14px;
    font-weight: 600;
}
.like-btn-container svg {
    color: gray ;
}

.like-btn-container .liked {
    color: var(--accent-color) !important;
}

.project-category-wrapper {
    display: flex;
    gap: 10px;
}

.category-wrapper {
    padding-inline: 10px;
    padding-block: 5px;
    font-size: 13px;
    font-weight: 500;
    background-color: var(--secondary-light);
    border-radius: 1.5rem;
}

.category-stats-wrapper {
    display: flex;
    margin-block: 2vh;
    justify-content: space-between;
    align-items: center;

}
