.reset-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
    padding: 16px;
}

.top-section {
    display: flex;
    width: 100%;
    align-items: center;
    height: 20%;
}

.top-section .profile-image-container {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-right: 24px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.top-section .profile-image-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.top-section .profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}

.profile-info .header-name {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
}

.profile-info .header-role {
    font-size: 16px;
    font-weight: 500;
    color: var(--accent-color);
}

.profile-info .header-email {
    font-size: 16px;
    font-weight: 500;
    color: var(--muted-text-color);
}

.profile-info .header-bio {
    margin-top: 24px;
    /* font-weight: 600; */
    font-size: 1rem;
    color: var(--muted-text-color);
}

.profile-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 16px;
}

.profile-section .header-profile {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.profile-section .header-profile .profile-header {
    font-size: 20px;
    font-weight: 700;
    color: var(--text-color);
}

.profile-section .header-profile .profile-subheader {
    font-size: 16px;
    font-weight: 500;
    color: var(--muted-text-color);
}

.posts-section {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.posts-header {
    font-weight: 700;
    font-size: 1.6rem;
}

.divider {
    height: 1px;
    background-color: var(--border-color);
    margin: 16px 0;
}

.project-list-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
